body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #fff;
    /* box-sizing: content-box; */
}

/* #111827; */

.nav {
    /* border: 1px solid; */
    padding: 2rem;
    background-color: #0e1524;



}

.nav-ul,
.sub-nav {
    display: flex;
    list-style: none;

}

.nav-ul {
    justify-content: space-between;
}

.sub-nav {
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid red; */
}

.sub-nav li a {
    font-size: 18px;
}

.sub-nav li {
    margin: 0 3rem;
}

.nav-ul li strong {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: rgb(16, 187, 187);
}




/**  Main  **/

.image {
    display: flex;
    justify-content: center;
}

.img-1 {
    width: 500px;
    margin: 40px 0;

}

.summary {
    max-width: 650px;
}

.summary p strong {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

